/target
/log
*.prefs
*.class
*.jsdtscope
*.launch
target
./settings
./.project
.classpath
.project
.settings
/.idea
node_modules
dist
.tmp
.sass-cache
*.css
*.css.map
bower_components
build
.DS_Store
/e:
*.iml
src/main/webapp/WEB-INF/lib/
/WEB-INF/
.vscode
.docs
wikiConfig.json
package-lock.json
