<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.seckill.dao.IdempotentMapper">

    <delete id="delete" parameterType="map">
        DELETE FROM idempotent
        WHERE record = #{record}
    </delete>

    <delete id="selectByRecord" parameterType="java.lang.String">
        SELECT * FROM idempotent
        WHERE record = #{record}
    </delete>

    <delete id="insert" parameterType="Idempotent">
        INSERT INTO  idempotent (record,tag,optTime)
        VALUES (#{record},#{tag},#{optTime})
    </delete>

</mapper>
